/* CNG STYLES     */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300|Source+Sans+Pro:400,200,200italic,600,600italic);

@import 'default/colors';
@import 'default/fonts';
@import 'default/animation';

@import 'default/page-layout';
@import 'default/title';
@import 'default/content-dialog';
@import 'default/mountains';
@import 'default/moon';
@import 'default/menu';


// Lead Styles
* {}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: $BodyWhite;
  color: $BodyBlack;

  font-family: $SourceSansPro;
  font-size: 0.9em;

  overflow: hidden;
}

a {
  color: $cngBlue;
}
a:active {
  color: lighten($cngBlue, 10%);
}

///////////////////////////////////////// SCENES //////////
.scene {
  padding: 0;
  margin: 0;
  list-style: none;
}
.scene-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}
#scene {
  margin-left: -30vw;
}
#scene1 {
  margin-top: 100vh;
  margin-left: -30vw;
  position: relative;
}
#scene2 {
  margin-top: 100vh;
  margin-left: -20vw;
  position: relative;
}
#scene3 {
  margin-top: 100vh;
  margin-left: -20vw;
  position: relative;
}
