/* CNG COLORS     */

$ReferenceBlack:        rgb(  0,  0,  0);
$ReferenceWhite:        rgb(255,255,255);

$BodyBlack:             rgb( 60, 60, 60);
$BodyWhite:             rgb(245,245,245);
$BodySilver:            rgb(200,200,200);

$cngBlue:               rgb( 58,110,151);
$cngMdBlue:             rgb(100,157,202);
$cngLtBlue:             rgb(167,187,203);
$cngYellow:             rgb(244,192,109);

$ShadowBlack:          rgba(  0,  0,  0,  0.15);
$ButtonRed:             rgb(217, 63, 62);
