////////////////////////////////// TITLE /////////////

.title {
  left: 2em;
  top: 2em;
  position: fixed;

  z-index: 100;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  &.full {
    opacity: 1.0;
  }
  &.fade {
    opacity: 0.0;
  }
}
